.menu {

    ul { list-style: none; }    
    
    a { text-decoration: none; margin: 0; padding: 12px 22px; }

}

.main-navigation {
    
    .slideMenu { position: fixed; height: 100vh; width: 90vw; background: #f4f4f4; z-index: 9999; right: -100vw; transition: 0.7s ease; top: 0; 
        padding: 120px 20px; display: flex; align-items: center; overflow: auto; }
    
    &.toggled {
        
        .slideMenu { right: 0; } 
    }
    
}


.slideMenu {
    
    &:before, &:after { content: ''; position: absolute; width: 50%; z-index: -1; height: 0; transition: 1.25s ease; animation-delay: 1s; }
    &:before { bottom: 0; left: 0; background: #9fa4fb; }
    &:after { right: 0; background: #fcb348; top: 0; }   

}


.menuOpen {

    .slideMenu {
        &:before, &:after  { height: 100%; }
    }
    
}